@import '../../../../shared/styles/mixins/breakpoints';



.root {
    width: 100%;
}

.advantages {
    margin-top: 20px;
}

.categories {
    margin-top: 38px;
}


.partners {
    margin-top: 38px;
}

@include breakpoint(xl) {

    .advantages {
        margin-top: 40px;
    }

    .categories {
        margin-top: 80px;
    }

    .partners {
        margin-top: 80px;
    }
}