@import '../../../shared/styles/mixins/breakpoints';


.root {
    padding-top: 20px;
    padding-bottom: 80px;
}

.title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: rgba(78, 78, 78, 1);
  
}


.mainWrapper {
    display: block;
    gap: 24px;
    margin-top: 40px;
}


.filters {
    display: none;
    width: 282px;
}

.content {
    width: 100%;
}


.mobileFilters {
    margin-top: 20px;
}


.products {
    margin-top: 40px;
}

@include breakpoint(xl) {
    .mainWrapper {
        display: flex;
    }

    .filters {
        display: block;
    }


    .root {
        padding-top: 4px;
    }
    .title {
        margin-top: 24px;
    }
    .mainWrapper {
        margin-top: 34px;
    }

    .mobileFilters {
        display: none;
    }

    .products {
        margin-top: 0;
    }

}