@import '../../../../shared/styles/mixins/breakpoints';


.root {
    width: 100%;
    padding-top: 20px;
}

.title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: rgba(78, 78, 78, 1);
  
}

.description {
    font-size: 16px;
    line-height: 22px;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    gap: 20px;  
    width: 100%;
    img {
        width: 100%;
        height: auto;
    }
}

.tables {
   margin-top: 20px;
}

.mainWrapper {
    display: block;
    gap: 24px;
}


.filters {
    display: none;
    width: 282px;
}

.content {
    width: 100%;
}





.products {
    margin-top: 20px;
}

@include breakpoint(md) {
    .description {
        >p {
            display: flex;
            flex-direction: column;
        }
        img {
            width: 50%;
            height: auto;
            align-self: center;
        }
     }
}

@include breakpoint(xl) {
    .mainWrapper {
        display: flex;
    }

     

    .filters {
        display: block;
    }


    .root {
        padding-top: 4px;
    }
    .title {
        margin-top: 24px;
    }
    .mainWrapper {
        margin-top: 34px;
    }

  

    .products {
        margin-top: 0;
    }

}