.root {
    display: flex;
    height: 32px;
    user-select: none;
}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    color: black;
    height: 100%;
    border: 1px solid #e9edf2;

   
}


.count {
    background: rgba(237, 237, 237, 1);
    font-size: 14px;
    width: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e9edf2;
    border-bottom: 1px solid #e9edf2;
}
