@import '../../styles/mixins/breakpoints';


.root {
display: none;
  user-select: none;
}


.list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}


.listItem {
    display: flex;
    color: rgba(190, 190, 190, 1); 
    font-size: 14px;
    line-height: 19px;
    text-wrap: nowrap;
    flex-wrap: wrap;
    gap: 2px;
    a {
        display: block;
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }
}

@include breakpoint(xl) {
    .root {
        display: flex;
    }
}