.root {
    cursor: pointer;
    user-select: none;
    background: var(--button-background);
    border: none;
    color: white;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    font-weight: 600;
    border-radius: 2px;
    color: rgba(255, 255, 255, 1);
    &:hover {
        background: var(--button-background-hover);
    }
}