@import "./reset";
@import "./mixins/breakpoints";
@import "./variables/theme_variables";




body {
    background: var(--background-color);
}



main {
    min-height: calc(100svh - 91px);
    padding-bottom: 40px;
}

.container {
    padding: 0 16px;
    max-width: 1200px;
    margin: 0 auto;
}

@include breakpoint(xl) {
    main {
    min-height: calc(100vh - 178px);
    padding-bottom: 80px;
}
    .container {
        padding: 0;
    }

}



