@import "./reset";
@import "./mixins/breakpoints";
@import "./variables/theme_variables";




body {
    background: var(--background-color);
}



main {
    min-height: 100vh;
}

.container {
    padding: 0 16px;
    max-width: 1200px;
    margin: 0 auto;
}

@include breakpoint(xl) {
    .container {
        padding: 0;
    }

}



