@import "../../../../../shared/styles/mixins/breakpoints";

.table {
    width: 100%;
    border-radius: 4px;
    background: white;
    font-size: 14px;
    thead {
        th {
            color: rgba(190, 190, 190, 1);
            border-bottom: 1px solid rgba(190, 190, 190, 1);
            text-align: start;
            padding: 20px 5px;
        }

        th:first-child {
            padding-left: 20px;
        }

        th:last-child {
            padding-right: 20px;
        }
    }

    tbody {
        tr {
            border-top: 1px solid rgba(190, 190, 190, 1);
        }
        td {
            text-align: start;
            vertical-align: middle;
            > div {
                display: flex;
                align-items: center;
                height: 200px;
                padding: 30px 5px;
                width: max-content;
            }
        }
    }
}

.preview {
    width: max-content;
    padding-left: 20px !important;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;

    p {
        width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.imageHolder {
    width: 180px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}
.totalPrice {
    width: 105px !important;
}

.remove {
    padding-right: 20px !important;
    button {
        cursor: pointer;
        background: none;
        border: none;
    }
}

.toCartBtn {

    button {
        width: 150px !important;
        height: 32px !important;
    }
}

.inCartBtn {
    button {
        border-radius: 2px;
        color: rgba(190, 190, 190, 1);
        cursor: default ;
        background: none ;
        width: 150px;
        height: 32px;
        border: 1px solid rgba(190, 190, 190, 1);
    }
}

@include breakpoint(lg) {
    .table {
        font-size: 16px;
    }

    .preview {
        p {
            width: 174px;
        }
    }
    .totalPrice {
        width: 120px !important;
    }
}

@include breakpoint(xl) {
    .table {
        thead {
            th:first-child {
                padding-left: 44px;
            }

            th:last-child {
                padding-right: 44px;
            }
        }
    }

    .preview {
        padding-left: 44px !important;
    }

    .imageHolder {
        width: 218px;
    }
    .remove {
        padding-right: 44px !important;
    }
}
